{% extends 'base.html' %} {% block content %}

<details>
  <summary>[ Cadastrar novo jogo ]</summary>
  <div class="col-md-4">
    <form action="{{url_for('estoque')}}" method="post">
      <input
        type="text"
        name="titulo"
        id=""
        placeholder="Título"
        class="form-control"
        required
      />
      <input
        type="number"
        name="ano"
        id=""
        placeholder="Ano"
        class="form-control"
        required
      />
      <input
        type="text"
        name="categoria"
        id=""
        placeholder="Categoria"
        class="form-control"
        required
      />
      <input
        type="text"
        name="plataforma"
        id=""
        placeholder="Plataforma"
        class="form-control"
        required
      />
      <input
        type="number"
        name="preco"
        id=""
        placeholder="Preço"
        class="form-control"
        required
      />
      <input
        type="number"
        name="quantidade"
        id=""
        placeholder="Quantidade"
        class="form-control"
        required
      />
      <br />
      <input type="submit" value="Cadastrar" class="btn btn-success" />
      <input type="reset" value="Limpar" class="btn btn-danger" />
    </form>
  </div>
</details>
<hr />

<h5>Jogos em estoque</h5>
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Titulo</th>
      <th>Ano</th>
      <th>Categoria</th>
      <th>Plataforma</th>
      <th>Preço</th>
      <th>Quantidade</th>
    </tr>
  </thead>

  <tbody>
    {% for game in gamesestoque %}
    <tr>
      <td><strong>Título:</strong> {{ game.titulo }}<br /></td>
      <td><strong>Ano:</strong> {{ game.ano }}<br /></td>
      <td><strong>Categoria:</strong> {{ game.categoria }}<br /></td>
      <td><strong>Plataforma:</strong> {{ game.plataforma }}<br /></td>
      <td><strong>Preço:</strong> R$ {{ game.preco }}<br /></td>
      <td><strong>Quantidade:</strong> {{ game.quantidade }}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock content %}
