<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Bem-vindo a homepage</h1>
    <h2>Iniciando estudos com Flask!</h2>
    <!-- O 'url_for' gera a URL associada à função de rota 'games'. Isso permite que o link seja dinâmico, ou seja, se a rota mudar no futuro, a URL será atualizada automaticamente. -->
    <a href="{{ url_for('games') }}">Vai para a rota games</a>
  </body>
</html>
